.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  box-shadow: none;
}

.login-title {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
  text-align: center; /* 추가된 부분 */
}

.login-form-wrapper {
  background: white;
  padding: 40px;
  border-radius: 5px;
  width: 350px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%; /* 추가된 부분 */
}

.input-group {
  margin-bottom: 15px;
  border-radius: 10px;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.login-button {
  padding: 10px;
  background-color: #4655D7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 106.3%;
}

.login-button:hover {
  background-color: #3A46B8;
}

.register-link {
  margin-top: 15px;
  text-align: center;
  width: 100%; /* 추가된 부분 */
}

.register-link a {
  color: #4655D7;
  text-decoration: none;
  display: block; /* 추가된 부분 */
  width: fit-content;
  margin: 0 auto;
}

.error-message {
  color: #ff3333;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}
