.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-size: 14px;
}

.login-title {
  font-size: 24px;
  color: #333;

  display: flex;
  align-items: center;
}

.login-form-wrapper {
  padding: 30px 0px 0px 0px;
  width: 370px;
}

.login-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 6px;
}

.login-button {
  background-color: #4655D7;
  color: white;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  font-weight: 800;

  margin-top: 35px;
  padding: 12px;
  width: 100%;
}

.login-button:hover {
  background-color: #3A46B8;
}

.register-link {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.register-link > a {
  color: #3A46B8;
}

.error-message {
  color: #ff3333;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}
